* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#container {
  height: 100vh;
  padding: 0 5%;

  display: flex;
  flex-direction: column;
}

#header {
  background-color: #1E2858;
  flex: 1.5 1 0;

  display: flex;
  align-items: center;
}

#header h1 {
  margin-left: 100px;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}

#main {
  background-color: #e5e5e5;
  flex: 8 1 0;
}

#main-container {
  width: 100%;
  height: 100%;
  padding: 5%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container-items {
  width: 47.5%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#date-template {

  flex: 0 0 17.5%;

  display: flex;
  align-items: flex-end;

  font-size: 2rem;
  color: #3b3b3b;
}

#display {
  background: #fff;
  flex: 0 0 77.5%;

  padding: 5% 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#display #quote {
  height: 50%;
  font-size: 2.625rem;

  display: flex;
  flex-direction: column;
}

#quote span {
  padding-left: 5%;
}
.fa-quote-left,
.fa-quote-right {
  font-size: 3rem;
}

.fa-quote-left {
  align-self: flex-start;
}

.fa-quote-right {
  align-self: flex-end;
}







#number-board-display {
  flex: 0 0 17.5%;

  display: flex;
  justify-content: space-between;

}

#student-number {
  flex: 0 0 62.5%;
  padding: 3%;

  font-size: 1.25rem;

}

#enter {
  flex: 0 0 32.5%;
  background: #1fc365;

  font-size: 3rem;
  font-weight: 500;
  color: #3b3b3b
}



#number-board {
  background: #2e3867;
  border: 1px solid black;
  flex: 0 0 77.5%;
  padding: 5% 10%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(4, 21.25%);
  column-gap: 5%;
  row-gap: 5%;
}

#number-board button {
  font-size: 3rem;
  font-weight: 700;

  background: #fff;
}







#footer {
  background-color:  #7d7d7d;
  flex: 0.5 1 0;
}


/* MISCELLANEOUS */

.border-round {
  border-radius: 10px;
}